<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.feedhenry.plugins.stream"
        version="0.0.1">

        <name>Stream</name>

                <description>
                        This plugin allows you to use audio streaming in your app
                </description>

                <license>MIT</license>

        <engines>
                <engine name="cordova" version=">=2.8.0" />
        </engines>


        <js-module src="www/StreamManager.js" name="StreamManager">
                <clobbers target="StreamManager" />
        </js-module>

        <!-- ios -->
        <platform name="ios">
                <config-file target="config.xml" parent="/*">
                        <feature name="Stream">
                                <param name="ios-package" value="Stream" />
                        </feature>
                </config-file>

                <header-file src="src/ios/Stream.h" />
                <source-file src="src/ios/Stream.m" />

                <header-file src="src/ios/AudioStreamer/AudioStreamer.h" compiler-flags="-fno-objc-arc"/>
                <source-file src="src/ios/AudioStreamer/AudioStreamer.m" compiler-flags="-fno-objc-arc"/>
                <header-file src="src/ios/AudioStreamer/UIDevice+Hardware.h" compiler-flags="-fno-objc-arc"/>
                <source-file src="src/ios/AudioStreamer/UIDevice+Hardware.m" compiler-flags="-fno-objc-arc"/>
        </platform>

</plugin>